<div class="well">
    <h2>Enter a zipcode:</h2>
    <form class="d-flex" #zipCodeForm="ngForm" (submit)="onSubmit(zipCodeForm)">
        <input 
        class="form-control" 
        placeholder="Zipcode" 
        type="text" 
        minlength="5"
        maxlength="5"
        name="addLocation"
        #addLocation="ngModel"
        ngModel 
        (ngModelChange)="cleanErrorMessage()"
        required 
        appNumbersOnly 
        >
        <button class="btn btn-primary ml-2"  type="submit" id="addLocationBtn">
          Add location
        </button>
    </form>
    <div class="alert alert-warning mt-2 py-2" role="alert" *ngIf="addLocation?.errors?.minlength && formSubmitted">
        Zipcode should have at least 5 digits
    </div>
    <div class="alert alert-warning mt-2 py-2" role="alert" *ngIf="error && formSubmitted">
        There are no results for the Zipcode submitted
    </div>
    <div class="alert alert-danger mt-2 py-2" role="alert" *ngIf="addLocation?.errors?.required && formSubmitted">
        Please fill in the Zipcode 
    </div>
</div>